{% extends "base.html" %}
{% comment %}
    
Main page of the website.

{% endcomment %}

{% block head %}
    <title>NMC Visualizer</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link href="{{ STATIC_URL }}css/nmc.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/network.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css" />
    <script type="text/javascript" language="javascipt" src="{{ STATIC_URL }}lib/nmc.js"></script>
{% endblock %}

{% block content %}
<body>
<div class="container">
    <div class="row">
        <div id="sidebar" class="col-md-2" >

            <div id="sidebar_nmc-tacc_logo" class="panel" >
                <img src="{{ STATIC_URL }}img/combined-sm.png" style="width:100%;">
            </div>

            <div id="sidebar_list" class="list-group" >
                <a href="/" class="list-group-item">
                    <i class="glyphicon glyphicon-plus sidebar-list-text">  Login</i>
                </a>
                <a href="/welcome/" class="list-group-item">
                    <i class="glyphicon glyphicon-plus sidebar-list-text">  Applications</i>
                </a>
            </div>
        </div>

        <div class="col-md-5" style="height:100%; ">
            <h3 style="margin:20px 10px 10px 20px">Available Networks: </h3>
            <div class="list-group">
            {% for db in databases %}
                <a href="visualize/{{ db }}" class="list-group-item">
                <i class="glyphicon glyphicon-signal" style="margin-right:10px"></i>
                {{ db }}
                </a>
            {% endfor %}
            </div>
        </div>
        <div class="col-md-5" style="height: 100%;">
        </div>
    </div>
    </div>
</div>

</body>
{% endblock %})
