{% extends "base.html" %}

{% block head %}
	<title>Applications</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <style>
        @import url(http://fonts.googleapis.com/css?family=Roboto:400);

        body {
            -webkit-font-smoothing: antialiased;
            font: normal 14px Roboto,arial,sans-serif;
            margin-bottom: 30px;
        }

        html {
        	background-color: #ADD8E6;
        	position: relative;
          	min-height: 100%;
        }

        .container {
            width: 100%;
            height: 100%;
            position: fixed;
        }
    </style>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row" style="height:100%">
        <div class="col-md-2" style="height:100%; background: #D3D3D3;">
            <img src="{{ STATIC_URL }}img/combined-sm.png" style="width:100%; padding: 5px;">

            <div class="list-group" style="margin: 10px">
            	<a href="/" class="list-group-item list-group-item-info">
				<i class="glyphicon glyphicon-plus" style="margin-right:10px"></i>
				Login
				</a>
				<a href="/welcome/" class="list-group-item list-group-item-info">
				<i class="glyphicon glyphicon-plus" style="margin-right:10px"></i>
				Applications  
				</a>
            </div>
        </div>

    	<div class="col-md-5" style="height:100%; ">
    		<h3 style="margin:20px 10px 10px 20px">Applications:</h3>
    		<div class="list-group">
				<a href="/visualizer" class="list-group-item list-group-item-success">
				<i class="glyphicon glyphicon-eye-open" style="margin-right:10px"></i>
				NMC Visualization Tool  
				</a>
            </div>
    	</div>
    	<div class="col-md-5" style="height: 100%;">
    	</div>
    </div>
    </div>
</div>

{% endblock %}
