{% extends "base.html" %}

{% block head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/base.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/welcome.css" />
	<title>Applications</title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
{% endblock %}

{% block content %}
<div class="container">
    <div class="row" >
        <div id="sidebar" class="col-md-2" >
        	<div id="sidebar_nmc-tacc_logo" class="panel" >
            	<img src="{{ STATIC_URL }}img/combined-sm.png" style="width:100%;">
            </div>

            <div id="sidebar_list" class="list-group">
            	<a href="/" class="list-group-item">
				<i class="glyphicon glyphicon-plus sidebar-list-text" style="margin-right:10px">  Login</i>
				</a>
				<a href="/welcome/" class="list-group-item ">
				<i class="glyphicon glyphicon-plus sidebar-list-text" style="margin-right:10px">  Applications</i>
				</a>
            </div>
        </div>

    	<div id="content" class="col-md-5">
    		<h3 style="margin:20px 10px 10px 20px">Applications:</h3>
    		<div class="list-group">
				<a href="/visualizer" class="list-group-item">
				<i class="glyphicon glyphicon-eye-open" style="margin-right:10px"></i>
				NMC Visualization Tool  
				</a>
            </div>
    	</div>
    	<div class="col-md-5">
    	</div>
    </div>
    </div>
</div>

{% endblock %}
